<a href="https://colab.research.google.com/github/HritikShukla/NLP/blob/master/Spacy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import gzip

df=pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz",lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [0]:
def spacyfunc(str):
  spacydict={'tokenize':[],'pos_tag':[],'lemmatize':[],'dependency_parser':[],'nouns':[]}
  doc=nlp(str)
  for word in doc:
    spacydict['tokenize'].append(word.text)
    spacydict['pos_tag'].append(word.pos_)
    spacydict['lemmatize'].append(word.lemma_)
    spacydict['dependency_parser'].append(word.dep_)
    if 'nn' in word.tag_.lower():
      spacydict['nouns'].append(word.text)
  return spacydict

In [0]:
import spacy
nlp=spacy.load('en_core_web_sm')

In [8]:
df['Review Text Spacy']=df.iloc[0:500]['reviewText'].apply(spacyfunc)
df.head()

       reviewerID  ...                                  Review Text Spacy
0  A32T2H8150OJLU  ...  {'tokenize': ['I', 'bought', 'my', 'first', 'H...
1  A3MAFS04ZABRGO  ...  {'tokenize': ['WHY', 'THIS', 'BELATED', 'REVIE...
2  A1F1A0QQP2XVH5  ...  {'tokenize': ['I', 'have', 'an', 'HP', '48GX',...
3   A49R5DBXXQDE5  ...  {'tokenize': ['I', ''ve', 'started', 'doing', ...
4  A2XRMQA6PJ5ZJ8  ...  {'tokenize': ['For', 'simple', 'calculations',...

[5 rows x 10 columns]